
.main{
    text-align: center;
    margin-top: 15%;
}

.custom-card{
    width: 1000px;
}

.confirm-buttons{
    display: none;
}

.answers{
    display: none;
    flex-direction: column;
    text-align: left;
}

.input-custom{
    display: none;
}

.correct{
    display: none;
}

.wrong{
    display: none;
}
.time{
    margin-left: 90%;
}

@media screen and (max-width: 1090px) {
    .time{
        margin-left: 80%;
    }
}

@media screen and (max-width: 540px) {
    .time{
        margin-left: 70%;
    }
}

@media screen and (max-width: 370px) {
    .time{
        display: inline;
    }
    .header{
        display: inline;
    }
}